<div class="container-fluid">
  <div class="row mb-3 titulo">
    <div class="col">
    </div>
    <div class="col">
      <img src="assets/anime Logo.png"/>
    </div>
    <div class="col">     
    </div>
  </div>
  <div *ngIf="selected">
    <app-anime-detail [animeDetail]="selectedAnime"></app-anime-detail>
  </div>
  <div class="row">
    <div class="col mb-2" *ngFor="let anime of animes">
      <div class="card p-2" style="width: 15rem; height: 33rem">
        <h5>{{anime.name}}</h5>
        <img
          class="card-img-top"
          src="{{ anime.img }}"
          alt="{{ anime.name }}"
        />
        <div class="card-body">
          <p class="card-text">⭐{{ anime.Rating }}</p>
          <p class="card-text">Categories: {{ anime.categorie }}</p>
          <a href="#" class="btn btn-primary" (click)="onSelected(anime)">More Information</a>
        </div>
      </div>
    </div>
  </div>
</div>